.postItemHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.companyLogo {
  height: 100px;
  cursor: pointer;
}

button.btn-primary {
  margin-right: .7rem;
}
button.btn-secondary {
  margin-right: .7rem;
}
