.companyLogo {
  margin-left: 2rem;
}

.registerHeader {
  display: flex;
  justify-content: center;
}



.form-group.col-12 {

}

div.row {
  margin-top: 3rem;
}

button.btn-primary {
  margin-right: .3rem;
}

.btn-dark {
  margin-left: .3rem;
}
