.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 2rem 2rem 2rem;
  border-radius: 0rem;
  border-image: fill;
  vertical-align: middle;
}

.container > *{
  min-width: 25rem;
  max-width: 40rem;
}

img {
  border-radius: 1rem;
  flex: 1 0;
  height: 100%;
  max-width: 100%;
  margin: 1rem 1rem 1rem 1rem;
  border: 1px solid #555;

}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  border-radius: 3rem;
  padding: 1rem;
  color: black;
  margin-left: .1rem;
}

.name {
  font-size: 2.7rem;
  font-weight: bold;
  margin-top: 5rem;

}


.details .price {
  font-size: 1.8rem;
  color: forestgreen;
}

.details .price::before {
  content: "Price: ";
  color: black;
}

.ownerName {
  font-size: 1.5rem;
  color: black;
  margin-top: 1rem;
}

.phoneNumber {
  font-size: 1.5rem;
  color: black;
  margin-top: 1rem;
}

#textArea {
  margin: 1rem 1rem 0 0;
  font-size: 20px;
}

