.companyLogo {
  margin-left: 2rem;
}

.loginHeader {
  display: flex;
  justify-content: center;
}

.loginParagraph {
  display: flex;
  justify-content: center;
  margin-top: .1rem;
  text-align: center;
}

div.row {
  margin-top: 8rem;
}

button.btn-primary {
  margin-right: .5rem;
}
button.btn-outline-primary {
  margin-left: 5rem;
}


