<app-header></app-header>
<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!items || items.length <= 0" resetLinkText="Reset search"></app-not-found>
<ul>
  <li *ngFor="let item of items">
    <a routerLink="/item/{{item.id}}">
      <img src="{{item.imageUrl}}" alt="">
      <div class="content" id="content">
        <div class="name" id="name">
          {{item.productName}}
          </div>
        <div class="price" id="price">
          <span>
            {{item.price}} DKK pr. day
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
